<div class="modal fade" id="inputdata">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Input Your Cryotherapy Result</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputdata">Age</label>
                            <input type="number" class="form-control" placeholder="Your Current Age">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputdata">Time</label>
                            <input type="number" class="form-control" placeholder="Time Elapsed before Treatment">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputdata">Number of Warts</label>
                            <input type="number" class="form-control" placeholder="Number of Warts on Your Body">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputdata">Area of Warts</label>
                            <input type="number" class="form-control" placeholder="Area of Warts on Your Body">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputdata">Type of Warts</label>
                            <input type="number" class="form-control" placeholder="Your Type of Warts">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>