<div class="card-body">
    <div class="card mx-auto" style="width: 15rem;">
        <img class="card-img-top" src="/static/images/Cryo3.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Predict</h5>
            <p class="card-text">Predict that whether your Cancer is malignant or benign based on your Cryotherapy
                treatment result</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#inputdata">Input</button></small>
            <small class="text-muted"><button type="button" class="btn btn-primary"
                    onclick='window.location.href="/cryo-model"'>Try It</button></small>
        </div>
    </div>
</div>